@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(141, 181, 216);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
}

p {
    font-size: 17px;
}

.container {
    justify-content: left;
    padding: 40px;
    display: flex;
    column-gap: 140px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coluna {
    font-size: 12px;
    display: flex;
    gap: 10px;  
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: black;
    color: white;
    bottom: 0;  
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#container-name {
    text-align: center;
}

#nome {
    font-size: 20px;
}


